body {
    background-color: rgb(45, 45, 45);
}

.product-name {
    font-family: "Lobster", sans-serif;
    text-align: center;
    font-size: 20px;
}

.product-price {
    font-family: "Lobster", sans-serif;
    text-align: center;
    font-size: 20px
}

.product-desc {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: rgb(108, 108, 108);
    font-size: 14px;
    height: 40px
}